@import url(common/reset.css);
.section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .sec-con{
  width: 100%;
  max-width: 1200px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.section .sec-con .gallery{
  width: 500%;
  height: 600px;
  box-sizing: border-box;
  position: absolute;
}

.section .sec-con .gallery ul{
 display: flex;
 justify-content: space-between;
}

.section .sec-con .gallery ul li{
 flex:1;
 text-align: center;
 line-height: 600px;
 font-size: 30px;
 box-sizing: border-box;
}

.section .sec-con .center-btn{
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top:50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.section .sec-con .center-btn span{
  width: 30px;
  height: 30px;
  border: 1px solid;
  background-color: #000;
  box-sizing: border-box;
}

.section .sec-con .bcon{
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content:center;
}

.section .sec-con .bcon .items{
  padding:  20px 0;
  box-sizing: border-box;
}

.section .sec-con .bcon .items ul{
  display: flex;
  justify-content:space-between;
  gap: 5px;
}

.section .sec-con .bcon .items ul li{
  width: 20px;
  height: 20px;
  border: 1px solid;
  box-sizing: border-box;
}

.on{
  background-color: #000;
}